.todo-list {
  margin-top: 30px;
}

.todo-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.todo-item h3 {
  margin-top: 0;
}

.todo-item p {
  margin-bottom: 5px;
}

.todo-item button {
  margin: 5px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #3f51b5;
  border: none;
  color: #fff;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: #2c3e50;
}

.todo-edit-form {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.todo-edit-form label {
  display: block;
  margin-bottom: 10px;
}

.todo-edit-form label[for="completed"] {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.todo-edit-form input[type="text"],
.todo-edit-form textarea {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.todo-edit-form input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.todo-edit-form button[type="submit"] {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #3f51b5;
  border: none;
  color: #fff;
  cursor: pointer;
}

.todo-edit-form button[type="submit"]:hover {
  background-color: #2c3e50;
}


